* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
 width: 100%;
}
main{
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;  
  position: relative;
  overflow: hidden;
  
}

button{
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;  
  color: white;
  position: relative;
  z-index: 9;
}
button:active{
  background-color: #3e8e41;
  transform: scale(0.95);
}